@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Italic.ttf');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}


@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'segoescript';
	src: url('/fonts/segoescript.ttf');
	font-weight: 400;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  color: #000;
  /* font-size: 20px; */
  font-weight: 400;
  line-height: 53.02px;
  letter-spacing: 3.2px;
	height: 100%;
	font-family: 'Roboto', 'segoescript', 'sans-serif';
	background: #EBEEF6;
}

.main {

}

.section-title {
  text-align: center;
  margin-top: 66px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 7.36px;
}

h1, h2, h3, p, figure, ul {
  margin: 0;
  padding: 0;
}

.horizontal-lines {
  height: 2px;
  background: #9CA7F3;
}

/* Написание своих стилей */

/* Header style */
.header {
	background: url("/img/background-header.png"), lightgray 50% / cover no-repeat;
	box-shadow: 1920px 4px 0px 0px rgba(0, 0, 0, 0.10) inset;
	width: 100%;
	height: 100vh;
}

.container {
	padding: 47px 0 0 40px;
}

.header-logo {
	display: inline-block;
  margin-right: 308px;
}

.header-logo-img {
	width: 100%;
}

.header-nav {
	display: inline-block;
}

.header-list {
	display: flex;
	position: relative;
	top: -2.2em;
	list-style-type: none;
}

.header-list-item {
	position: relative;
	font-size: 20px;
	font-weight: 400;
}

.header-list-item:not(:last-child) {
	padding-right: 50px;
}

.main-title {
  position: absolute;
  top: 330px;
	padding-left: 47px;
	max-width: 635px;
	font-size: 40px;
	font-weight: 400;
	line-height: 87.2px;
	letter-spacing: 2px;
}

.our-works {

}

.our-works-title {

}

.our-works-logo-img {
  width: 72px;
  height: 72px;
}

.our-works-hr {
  width: 711.023px;
}

.our-works-list {

}

.our-works-item {

}

.our-works-item-title {

}

.our-works-item-descr {

}

.btn {

}

.our-works-item-button {

}

.purple-arrows {

}

.reviews {

}

.reviews-title {

}

.reviews-text {

}

.submit-your-application {

}

.submit-your-application-title {

}

.submit-your-application-title-2 {

}

.submit-your-application-text {

}

.submit-your-application-form {

}

.services {

}

.services-title {

}

.services-list {

}

.services-list-item {

}

.services-text {

}

.price {

}

.price-title {

}

.price-text {

}

.footer {

}

.footer-text {
	color: #000;
	font-family: Segoe Script;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 5.2px;
}

