@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Italic.ttf');
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}


@font-face {
	font-family: 'Roboto';
	src: url('/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'segoescript';
	src: url('/fonts/segoescript.ttf');
	font-weight: 400;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	height: 100%;
	font-family: "Roboto", 'segoescript', 'sans-serif';
	background: #EBEEF6;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

h1, h2, h3, p, figure, ul {
  margin: 0;
  padding: 0;
}

/* Написание своих стилей */

.wrapper {

}

.header {
	background: url("/img/background-header.png"), lightgray 50% / cover no-repeat;
	box-shadow: 1920px 4px 0px 0px rgba(0, 0, 0, 0.10) inset;
	width: 100%;
	height: 100vh;
}

.container {
	padding: 47px 0 0 40px;
}

.header-logo {
	display: inline-block;
	margin: 0 308px 225px 0;
}

.header-logo-text {
	display: inline-block;
	position: relative;
	top: -1em;
	font-size: 35px;
	font-weight: 400;
	letter-spacing: 8.75px;
}

.header-logo-img {
	padding-right: 20px;
	width: 100px;
	height: 100px;
}

.header-nav {
	display: inline-block;
}

.header-list {
	display: flex;
	position: relative;
	top: -2.2em;
	list-style-type: none;
}

.header-list-item {
	position: relative;
	font-size: 20px;
	font-weight: 400;
}

.header-list-item:not(:last-child) {
	padding-right: 50px;
}

.header-text {
	max-width: 535px;
	font-size: 40px;
	font-weight: 400;
	line-height: 87.2px;
	letter-spacing: 2px;
}

.main {

}

.our-works {

}

.section-title {

}

.our-works-title {

}

.our-works-list {

}

.our-works-item {

}

.our-works-item-title {

}

.our-works-item-descr {

}

.btn {

}

.our-works-item-button {

}

.purple-arrows {

}

.reviews {

}

.reviews-title {

}

.reviews-text {

}

.submit-your-application {

}

.submit-your-application-title {

}

.submit-your-application-title-2 {

}

.submit-your-application-text {

}

.submit-your-application-form {

}

.services {

}

.services-title {

}

.services-list {

}

.services-list-item {

}

.services-text {

}

.price {

}

.price-title {

}

.price-text {

}

.footer {

}

.footer-text {
	color: #000;
	font-family: Segoe Script;
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 5.2px;
}

